<section class="card">
  {{!-- id will reference the artist id --}}
  <a href="/merch/{{id}}">
    <div class="card-body">
      {{!-- filename will reference the image and description will be the alt tag--}}
      <img ="../Assets/images/{{filename}}" alt="{{description}}">
    </div>
  {{!-- name will reference the artist name  --}}
  <footer>{{merch_name}}</footer>
  <p>{{price}}</p>
  </a>
</section>