<!-- BODY -->

<!-- ALL ALBUMS SECTION -->

<div class="container-fluid mx-0" style="border: .2rem solid red">
  <div class="row mt-5 mb-2">
    <h1 class="text-center">ALBUMS SECTION</h1>
  </div>

  <div class="row" style="border: .2rem solid blue">

    {{#each artists as |artist|}}
      <h2 class="text-center">{{artist_name}}</h2>
      {{#each albums as |album|}}
      <div
        class="col-xl-3 col-lg-6 col-12 d-flex align-items-center justify-content-center p-3"
        style="border: .2rem solid green"
      >
        <div class="card cardEvent" style="width: 18rem;" id="{{album.id}}">
          <img
            src="{{album.filename}}"
            class="card-img-top img-fluid"
            alt="image of {{album.album_name}}"
            style="height: 15rem"
            id="albumIndex"
          />
          <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">{{album.album_name}}</h5>
          </div>
        </div>
      </div>
    {{/each}}
    {{/each}}

  </div>
</div>