<div class="container-fluid mx-0 p-5" style = "border: .2rem solid red">
    <h1 class = "title-page border-bottom text-center mb-5">MERCHANDISE</h1>
    {{!-- SORTING CARDS --}}
    {{!-- Sort by Type --}}
    <div class = "row d-flex justify-content-around">
    <div class="card col-6 bg-dark merch-sort-card card-shade" style="width: 18rem;">
        <img class="card-img-top mt-2 border" src="../Assets/merch-type.avif" alt="Card image cap">
        <div class="card-body ">
            <h5 class="card-title text-center merch-card-h5">Sort by Type</h5>
        <ul class="list-group list-group-flush text-center merch-sort-ul bg-dark">
            {{#each tags as |tag|}}
                <li class="list-group-item sort-list-link merch-sort-li bg-dark" id = "{{tag.tag_name}}">{{tag.tag_name}}</li>
                
                {{/each}}
        </ul>
        </div>
    </div>
    {{!-- Sort by Artist --}}
    <div class="card col-6 bg-dark merch-sort-card card-shade" style="width: 18rem;">
        <img class="card-img-top mt-2 border" src="../Assets/sort-band.avif" alt="Card image cap">
        <div class="card-body ">
            <h5 class="card-title text-center merch-card-h5 ">Sort by Artist</h5>
            <ul class="list-group list-group-flush text-center merch-sort-ul bg-dark">
            {{#each dataArtistsPlain as |artist|}}
                <li class="list-group-item sort-list-link merch-sort-li bg-dark" id = "{{artist_name}}">{{artist_name}}</li>
            {{/each}}
            </ul>
        </div>
    </div>
    </div>
    {{!-- MERCH FILTERED BY ONE TAG --}}
    <div class = "row d-flex justify-content-around">
            <h2 class="text-center mt-5 mb-4" style = "border-bottom: .2rem solid white">{{name}}</h2>
            {{#each merch as |merch|}}
                <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" style = "border: .2rem solid green">
                    <div class="card card-shade bg-dark" style="width: 18rem; height: 100%">
                        <img src="{{merch.filename}}" class="card-img-top" alt="Image of {{merch.merch_name}}">
                        <div class="card-body d-flex justify-content-center flex-column">
                            <h5 class="card-title">{{merch.merch_name}}</h5>
                            <h6 class = "card-subtitle">{{merch.price}}</h6>
                        </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>
