<div class="container-fluid mx-0 p-4">
    <div class="row mt-4 justify-content-around">
        <h1 class = "title-page text-center">MERCHANDISE</h1>
    </div>
    {{!-- SORTING CARDS --}}
    <div class = "text-center my-4">
    {{!-- Back to store --}}
        <div class="btn-group">
            <a href="/merch">
            <button class="btn btn-secondary bg-dark back-to-store" type="button">
                <li class="back-to-store">Back to Store
                </li>
            </button>
            </a>
        </div>
    {{!-- Sort by Type --}}
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle bg-dark my-4" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                Sort by Type
            </button>
            <ul class="dropdown-menu bg-dark">
                {{#each tags as |tag|}}
                    <a  class = "dropdown-item sort-list-link merch-sort-li bg-dark" href="/merch/?tag={{tag.tag_name}}">
                    {{tag.tag_name}}
                    </a>
                {{/each}}
            </ul>
        </div>
        
        {{!-- Sort by Artist --}}
        <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle bg-dark my-4" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    Sort by Artist
                </button>
                <ul class="dropdown-menu bg-dark">
                    {{#each dataArtistsPlain as |artist|}}
                        <a href="/merch/?tag={{artist_name}}" class="dropdown-item sort-list-link merch-sort-li bg-dark" id="{{artist_name}}">{{artist_name}}
                    </a>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{!-- MERCH FILTERED BY ONE TAG --}}
    <div class = "row d-flex justify-content-center">
            <h2 class="text-center border-bottom">{{name}}</h2>
            {{#each merch as |merch|}}
                <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3">
                    <div class="card card-shade album-card bg-dark my-3">
                        <img src="{{merch.filename}}" class="card-img-top custom-card-img" alt="Image of {{merch.merch_name}}">
                        <div class="card-body d-flex justify-content-center flex-column" style = "position: relative">
                            <h5 class="card-title text-center">{{merch.merch_name}}</h5>
                            <h6 class = "card-subtitle text-center">${{merch.price}}</h6>
                            <button type="button" class="btn btn-dark" style = "position: absolute; right: 0px; bottom: 0px" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on left"> 
                                {{!-- calculation is a helper function (in server.js) to determine if card is in user's favorites or not --}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill= {{#if ../favorites}}{{#calculation merch.id ../favorites "merch_id"}}{{/calculation}}{{else}}"white"{{/if}} class="bi bi-star-fill card-favorite-button" viewBox="0 0 16 16" data-type = "merch_id"  id = {{merch.id}}>
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>
