<!-- BODY -->
<!-- Cover Image -->
<div class="container-fluid mx-0 p-5">
  <div class = "row">
      <div class = "col-lg-6 d-flex justify-content-center align-items-center">
      <h1 class = "single-artist-title" style = "color: white">{{artist_name}}</h1>
    </div>
    <div class = "col-lg-6 d-flex justify-content-center" >
      <img src="{{filename}}" class="img-fluid" alt="rock-band-homepage">
    </div>
  </div> 

{{!-- Albums --}}
  <div class = "d-flex justify-content-center align-items-center my-3">
    <h2 class="text-center mt-5 mb-4" style = "width: 100%; border-bottom: .2rem solid white">ALBUMS</h2>
  </div>
  <div class = "row d-flex justify-content-around" id = "artist-div-row">
      {{#each albums as |album|}}
     <div class = "col-xl-3 col-lg-6 col-12 d-flex align-items-center justify-content-center p-3 pb-5 mb-4">
        <div class="card card-shade" style="width: 18rem;">
          <img src="{{album.filename}}" class="card-img-top img-fluid" alt="Image of {{album.album_name}}" style="height: 15rem">
          <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">{{album.album_name}}</h5>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  {{!-- Merch --}}
  <div class = "d-flex justify-content-center align-items-center my-3">
    <h2 class="text-center mt-5 mb-4" style = "width: 100%; border-bottom: .2rem solid white">MERCH</h2>
  </div>
    <div class = "row d-flex justify-content-center" id = "artist-div-row">
      {{#each merches as |merch|}}
     <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3">
        <div class="card card-shade" style="width: 18rem; height: 100%">
          <img src="{{merch.filename}}" class="card-img-top" alt="Image of {{merch.merch_name}}">
          <div class="card-body d-flex justify-content-center flex-column">
            <h5 class="card-title">{{merch.merch_name}}</h5>
            <h6 class = "card-subtitle">{{merch.price}}</h6>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
</div>






  
